@import "reset";
@import "variables";
@import "mixin";
@import "fonts";


*{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.container-max {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding: 0 10px;
}

//спецификация
.main-btn {
  @include fontParams("Arial", 15px, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #212b31;
  text-decoration: none;
  transition: all ease 1s;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #212b31;
  }
  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}

.aplication-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.5%;
  &__title {
    @include fontParams($ff, 32px, #212b31);
    text-align: center;
    line-height: 1.5;

    @media(max-width:767px){
      text-align: center;
    }
  }
  &__text {
    max-width: 1015px;
    margin-top: 19px;
    @include fontParams($ff, 20px, #72787d);
    line-height: 32px;
    text-align: center;
  }
}

.main-btn + .main-btn {
  @media (max-width: 768px) {
    margin-top: 15px;
  }
}

.result {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .result-inner {
    text-align: center;
    flex: 0 1 332px;
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
    &__title {
      @include fontParams($ff, $fz + 2, $fc);
      margin-top: 20px;
    }
    &__text {
      @include fontParams($ff, $fz, #72787d);
      margin-top: 11px;
      line-height: 1.5;
    }
  }
}

//Header
.header {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #fff;
  }

  @media (max-width: 768px) {
    height: 50px;
  }

  .logo {
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    z-index: 4;
    @media (max-width: 1200px) {
      justify-content: flex-start;
    }
    &__img {
      @media (max-width: 992px) {
        max-width: 25px;
        height: auto;
      }
    }

    &__span {
      text-transform: uppercase;
      @include fontParams($ff, $fz + 6px, $fc);
      @media (max-width: 1200px) {
        font-size: $fz;
      }
      @media (max-width: 992px) {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 857px;
    z-index: 4;
    overflow: auto;

    @media (max-width: 992px) {
      
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: -100%;
      z-index: 3;
      background-color: #212b31;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.4s linear;
    }
    @media(max-width:767px){
      padding-left: 20px;
      align-items: flex-start;

    }

    .menu {
      display: flex;
      justify-content: space-between;
      flex-basis: 81%;
      align-items: center;
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        justify-content: space-between;
        flex-basis: 20%;
        margin-top: 10%;
        &__item {
       
          @media(max-width: 992px){
            margin-top: 30px;
          }
          @media(max-width:767px){
            width: 200px;
          }
      }
      }

      &__link {
        @include fontParams($ff, $fz, #72787d);
        text-decoration: none;
        transition: all ease 1s;
        position: relative;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 992px) {
          font-size: 24px;
          color: #fff;
          &:hover{
            color: #036fc7;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 19px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #036fc7;
          transition: all 0.3s;
          @media(max-width:992px){
            display: none;
          }
        }
        &:hover {
          color: #036fc7;
          &::before {
            width: 100%;
            right: 100%;
          }
        }
      }
    }
    &__demo {
      @media (max-width: 1170px) {
        font-size: 13px;
        padding: 8px 17px;
      }
      @media (max-width: 992px) {
        background-color: #fff;
        color: #212b31;
        width: 200px;
        padding: 15px 17px;
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        
      }
    }
  }
 
  .nav.active {
    top: 0;
  }
  .burger {
    display: none;
    @media (max-width: 992px) {
      display: block;
      position: relative;
      z-index: 4;
      width: 28px;
      height: 18px;
      cursor: pointer;
      &__line {
        width: 100%;
        height: 2px;
        background-color: #212b31;
        position: absolute;
        left: 0;
        transition: all 0.2s linear;
      }
      &__line--first {
        top: 0;
      }
      &__line--second,
      &__line--third {
        transform: translateY(-50%);
        top: 50%;
      }
      &__line--four {
        bottom: 0;
      }
    }
  }

  .burger.active .burger__line--four,
  .burger.active .burger__line--first {
    opacity: 0;
  }
  .burger.active .burger__line--second {
    transform: translateY(-50%) rotate(45deg);
  }
  .burger.active .burger__line--third {
    transform: translateY(-50%) rotate(-45deg);
  }
  
}

//intro

.intro {
  .intro-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 992px) {
      padding: 0 10px;
    }
    &__title {
      @include fontParams($ff, 48px, $fc);
      text-align: center;
      max-width: 818px;
      margin-top: 16%;
      line-height: 65px;
      @media (max-width: 992px) {
        font-size: 40px;
        line-height: 58px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
        line-height: 45px;
      }

      @media (max-width: 460px) {
        font-size: 22px;
        line-height: 38px;
        margin-top: 21%;
      }
    }

    .btn-wrapper {
      max-width: 331px;
      width: 100%;
      margin-top: 3%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      &__demo {
        padding: 15px 25px;
        font-size: 17px;
      }
      &__info {
        border: solid 1px #dadedf;
        background-color: #ffffff;
        font-size: 18px;
        color: #212b31;
        padding: 15px 25px;
        &:hover {
          background-color: #212b31;
          color: #fff;
        }
      }
    }
    &__img {
      margin-top: 8%;
      max-width: 100%;
      height: auto;
    }
    &__equipment-img {
      max-width: 100%;
      height: auto;
      margin-top: 5%;
    }
  }
}

//advantage

.advantage-body {
  margin-top: 13.5%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 325px;
    width: 100%;

    &__title {
      @include fontParams($ff, $fz + 2px, $fc);
      margin-top: 21px;
    }
    &__sub-title {
      @include fontParams($ff, $fz, #72787d);
      text-align: center;
      line-height: 1.5;
      margin-top: 15px;
    }
  }
  .section + section {
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }
}

//construction

.construction-body {
  .wrapp-img {
    margin-top: 40px;
    padding: 0 0 29% 0;
    position: relative;
    overflow: hidden;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

body.lock {
  @media (max-width: 992px) {
    overflow: hidden;
  }
}

//cleaning

.cleaning-title {
  max-width: 781px;
}

//care

.care-body {
  display: flex;
  margin-top: 15.5%;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    max-width: 542px;
    margin-top: 0;

    &__text--left {
      text-align: left;
      @media (max-width: 992px) {
        text-align: center;
      }
    }

    &__text {
      margin-top: 27px;
      align-self: flex-start;
      @include fontParams($ff, 20px, $fc);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ffd042;
        z-index: -1;
      }
    }
    &__img {
      max-width: 464px;
      width: 100%;
      height: auto;
    }
  }
}

//partners
.partners-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__line {
    width: 100%;
    height: 1px;
    background-color: #eef2f3;
    margin-top: 6%;
  }
  .wrapper-img {
    max-width: 1056px;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    picture {
      @media (max-width: 992px) {
        flex-basis: 33%;
        text-align: center;
      }
      @media (max-width: 576px) {
        flex-basis: 100%;
      }
    }
    picture + picture {
      @media (max-width: 992px) {
        margin-top: 10px;
      }
    }
  }
  &__img {
    margin-top: 10px;
  }
}

//about
.about-body {
  display: flex;
  flex-direction: column;
}
.about-text-wrap {
  margin: 6.5% 0 0;
  &__sub-title {
    max-width: 827px;
  }
}
.process-wrapp {
  display: flex;
  justify-content: space-between;
  max-width: 993px;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .process {
    align-items: flex-start;
    margin: 0;

    &__title {
      @include fontParams($ff, $fz + 2, $fc);
    }
    &__sub-text {
      max-width: 500px;
      @include fontParams($ff, $fz, #72787d);
      text-align: left;
      line-height: 1.5;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}

.process-wrapp + .process-wrapp {
  margin-top: 6%;
}

.process-wrapp:nth-of-type(2) {
  margin-top: 2.7%;
}
.process-wrapp:nth-of-type(3) {
  max-width: 974px;
  margin-left: 85px;
  @media (max-width: 768px) {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}

//service
.service-body {
  .service-text {
    max-width: 643px;
  }
  .service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4.5%;
    @media (max-width: 992px) {
      justify-content: center;
    }
    .service-item {
      flex: 0 1 33%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 992px) {
        flex: 0 1 50%;
        justify-content: center;
      }
      @media (max-width: 768px) {
        flex: 0 1 100%;
      }
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
    .service-item:nth-of-type(4),
    .service-item:nth-of-type(5),
    .service-item:nth-of-type(6),
    .service-item:nth-of-type(7),
    .service-item:nth-of-type(8),
    .service-item:nth-of-type(9) {
      margin-top: 33px;
      @media (max-width: 992px) {
        margin-top: 0;
      }
    }

    .service-item:nth-of-type(3),
    .service-item:nth-of-type(4),
    .service-item:nth-of-type(5),
    .service-item:nth-of-type(6),
    .service-item:nth-of-type(7),
    .service-item:nth-of-type(8),
    .service-item:nth-of-type(9) {
      @media (max-width: 992px) {
        margin-top: 25px;
      }
    }
    .service-item:nth-of-type(1),
    .service-item:nth-of-type(2) {
      @media (max-width: 768px) {
        margin-top: 25px;
      }
    }
    .block-text {
      width: 270px;
      &__title {
        @include fontParams($ff, $fz + 2, $fc);
      }
      &__text {
        @include fontParams($ff, $fz, #72787d);
        line-height: 1.5;
        margin-top: 11px;
      }
      @media (max-width: 576px) {
        margin-top: 10px;
      }
    }
  }
  .service-other {
    max-width: 810px;
    width: 100%;
    margin: 43px auto 0;
    display: flex;
    justify-content: center;
    @include fontParams($ff, $fz + 4, #72787d);
    &__dots {
      width: 24px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &__text {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    span {
      color: #000;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ffd042;
        z-index: -1;
      }
    }
  }
}

//reliability
.reliability-section__title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -33px;
    top: -20px;
    width: 42px;
    height: 40px;
    background-image: url("/img/img-section1-section9.svg");
    background-repeat: no-repeat;
  }
}
.reliability-section__text {
  max-width: 857px;
}

.design-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f8f9;
  padding: 40px;
  margin: 6% 0 13.5%;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__text {
    @include fontParams($ff, $fz + 2, $fc);
    margin-right: 42px;
    line-height: 1.78;
    @media (max-width: 1024px) {
      margin-right: 0;
    }

    @media (max-width: 838px) {
      margin-top: 20px;
    }
  }

  &__btn {
    @include fontParams($ff, $fz + 2, $fc);
    background-color: #fff;
    padding: 15px 25px;
    color: #212b31;
    @media (max-width: 992px) {
      margin-top: 20px;
    }

    &:hover {
      background-color: #212b31;
      color: #fff;
    }
  }

  span {
    color: #000;
    font-weight: 700;
  }
}

//statistics
.statistics {
  background-color: #212b31;
}
.statistics-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1248px;
  margin-top: 9.7%;
  margin-left: 192px;

  @media (max-width: 1185px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
}

.statistics-item {
  max-width: 589px;
  @media (max-width: 1185px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media(max-width:767px){
    text-align: center;
  }
  &__title {
    text-align: left;
    color: #fff;
    margin-bottom: 50px;
  }
}

.about-item {
  margin-left: 38px;
  padding-right: 15px;
  @media(max-width:767px){
    margin-left: 0;
    padding-right: 0;
  }
  &__title {
    @include fontParams($ff, $fz + 2, #fff);
    line-height: 24px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: #fff;
      @media(max-width:767px){
        display: none;
      }
    }
  }
  &__text {
    @include fontParams($ff, $fz, rgba(255, 255, 255, 0.75));
    margin-top: 10px;
    line-height: 24px;
  }
}
.about-item + .about-item {
  margin-top: 22px;
}

.about-item {
  &:nth-of-type(3) {
    .about-item__title {
      &::before {
        top: 12px;
      }
    }
  }
}

.statistics-btn-wrapp {
  display: flex;
  margin-top: 49px;
  justify-content: start;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__demo,
  &__info {
    padding: 15px 25px;
    font-size: 17px;
    background: #fff;
    color: #212b31;
    border: 2px solid transparent;

    @media(max-width:767px){
      max-width: 331px;
    }
  }
  &__info {
    background: #212b31;
    width: 149px;
    font-family: $ff;
    font-size: 18px;
    color: #fff;
    border: solid 2px #dadedf;
    border-radius: 4px;
    margin-left: 14px;
    @media(max-width:767px){
      margin-left: 0;
    }
  }
  &__demo {
    &:hover {
      background: #212b31;
      color: #fff;
      border: 2px solid #dadedf;
    }
  }
}

.statistics-img {
  max-width: 606px;
  @media (max-width: 1185px) {
    margin-top: 49px;
    max-width: 100%;
  }
}

.statistics-result {
  margin-top:11.8%;
  margin-bottom: 118px;

  &__item {
    flex: 0 1 340px !important;
    .statistics-result__title {
      color: #fff;
    }
  }
}
